{% extends "layout.html" %}
{% load url from future %}
{% load i18n %}
{% load thumbnail %}

{% block extrahead %}
    <style>map img { max-width: none; }</style>
    <link rel="stylesheet" href="{{ STATIC_URL }}trademark/css/trademarks.css" />
{% endblock %}

{% block title %}
    {{ trademark.name }} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'promotions:home' %}">{% trans "Home" %}</a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="{% url 'trademark:index' %}">{% trans "Trademarks" %}</a>
            <span class="divider">/</span>
        </li>
        <li class="active">{{ trademark.name }}</li>
        <li class="pull-right"><a href="{% url 'trademark:index' %}"><i class="icon-arrow-left"></i> {% trans "View all trademarks" %}</a></li>
    </ul>
{% endblock %}

{% block headertext %}{{ trademark.name }}{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span4 trademark-address-contact">
            <div class="trademark-details">
                {% if trademark.image %}
                    {% thumbnail trademark.image "400x400" as im %}
                    <img alt="{{ trademark.name }}" src="{{ im.url }}" width="{{ im.width}}" height="{{ im.height }}" />
                    {% endthumbnail %}
                {% endif %}

                {# include "trademark/partials/trademark_address.html" #}
                {# include "trademark/partials/trademark_contact.html" #}
            </div>

            <h3>{% trans "Brands" %}</h3>
            {% include "trademark/partials/trademark_brand_list.html" %}

            <h3>{% trans "Country" %}</h3>
            {{ trademark.country }}

        </div>
        <div class="span8">
            <section class="row-fluid">
                <map>
                    <div class='trademark-map' style="width: 720px; height:450px;"></div>
                </map>
            </section>
            {{ trademark.description|safe }}
        </div>
    </div>
{% endblock %}

{% block extrascripts %}
    {{ block.super }}
    {# include "trademark/partials/extrascripts.html" #}
{% endblock %}

{% block onbodyload %}
    trademarks.maps.initTrademark();
{% endblock %}