{% extends "layout.html" %}
{% load url from future %}
{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}
{% load currency_filters %}

{% block extrahead %}
    <style>map img { max-width: none; }</style>
    <link rel="stylesheet" href="{{ STATIC_URL }}trademarks/css/trademarks.css" />
{% endblock %}

{% block title %}
{{ queryset_description }} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="{% url 'promotions:home' %}">{% trans "Home" %}</a>
        <span class="divider">/</span>
    </li>
    <li>
        <a href="{% url 'trademark:index' %}">{% trans "Trademarks" %}</a>
        <span class="divider">/</span>
    </li>
    <li class="active">{{ queryset_description }}</li>
</ul>
{% endblock %}

{% block headertext %}
{{ queryset_description }}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        {% if trademark_list %}
        <div class="span3 view-trademarks">
                <h3>All trademarks</h3>
                <ul class="nav nav-tabs nav-stacked">
                {% for trademark in trademark_list %}
                <li>
                    <a href="{% url 'trademark:detail' trademark.slug trademark.pk %}">
                        {{ trademark.name }}
                    </a>
                </li>
                {% endfor %}
                </ul>
        </div>

        <div class="span9">
            {% if trademark_list %}

                {% for trademark in trademark_list %}
                <div class="trademarks-list">
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="sub-header">
                                <h4>{{ trademark.name }}
                                {% if trademark.distance %}
                                    <span class="distance">{{ trademark.distance.km|floatformat:2 }} km</span>
                                {% endif %}
                                <a href="{% url 'trademark:detail' trademark.slug trademark.pk %}" class="btn pull-right">{% trans "View trademark details" %}</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span4">
                            {% thumbnail trademark.image "400x400" as im %}
                            <a href="{{ trademark.get_absolute_url }}"><img alt="{{ trademark.name }}" src="{{ im.url }}" width="{{ im.width}}" height="{{ im.height }}" /></a>
                            {% endthumbnail %}
                        </div>

                        <div class="span4 trademark-address-contact">
                            {# include "trademarks/partials/trademark_address.html"
                            include "trademarks/partials/trademark_contact.html" #}
                            <br/>
                        </div>

                        <div class="span4">
                            {# include "trademarks/partials/trademark_opening_periods.html" #}
                        </div>

                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p>{% trans "No trademarks found in the area." %}</p>
            {% endif %}
        </section>
        {% else %}
        <p>{% trans "No trademark data available." %}</p>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block extrascripts %}
    {{ block.super }}
    {# include "trademarks/partials/extrascripts.html" #}
{% endblock %}

{% block onbodyload %}
    {% if trademark_list %}
        var trademarkData = [
            {% for trademark in trademark_list %}
            {
                'name': '{{ trademark.name|escapejs }}',
                'location': new google.maps.LatLng({{ trademark.location.y }}, {{ trademark.location.x }}),
                'imageURL': '{% if trademark.image %}{{ trademark.image.url }}{% endif %}',
                'address1': '{{ trademark.address.line1|escapejs }}',
                'address2': '{{ trademark.address.line2|escapejs }}',
                'address3': '{{ trademark.address.line3|escapejs }}',
                'address4': '{{ trademark.address.line4|escapejs }}',
                'postcode': '{{ trademark.address.postcode|escapejs }}',
                'url': '{{ trademark.get_absolute_url|escapejs }}',
                'email': '{{ trademark.email|escapejs }}',
                'phone': '{% if trademark.phone %}{{ trademark.phone|escapejs }}{% endif %}',
                'group': '{{ trademark.group.name|upper }}'
            } {% if forloop.counter < trademark_list|length %},{% endif %}
            {% endfor %}
        ];
        {% if longitude and latitude %}
            var pnt = new google.maps.LatLng({{ latitude}}, {{ longitude }});
        {% else %}
            var pnt = null;
        {% endif %}
        trademarks.maps.overview.init(trademarkData, pnt);
    {% endif %}
{% endblock %}