{% extends 'dashboard/layout.html' %}
{% load url from future %}
{% load i18n %}
{% load staticfiles %}

{% block body_class %}brands{% endblock %}

{% block extrahead %}
    <link rel='stylesheet' type='text/css' href="{% static "brands/css/brands.css" %}" />
{% endblock %}

{% block title %}
{{ title }} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        <span class="divider">/</span>
    </li>
    <li>
    <a href="{% url 'trademarks-dashboard:brand-list' %}">{% trans "Brands" %}</a>
        <span class="divider">/</span>
    </li>
    <li class="active">{{ title }}</li>
</ul>
{% endblock %}

{% block headertext %}{{ title }}{% endblock %}

{% block dashboard_content %}

    {% if form.errors %}
    <div class="alert alert-error">
        {% trans "Your submitted data did not validate - please correct the below errors and resubmit." %}
    </div>
    {% endif %}

    <form action="." method="post" class="form-horizontal wysiwyg" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-error control-group error">
                    <span class="help-inline"><i class="icon-exclamation-sign"></i> {{ error }}</span>
                </div>
            {% endfor %}
        {% endif %}

        <div class="table-header">
            <h3>{% trans "Trademark details" %}</h3>
        </div>

        <div class="well">
            {{form}}
        </div>

        <div class="control-group">
            <div class="pull-right">
                <a href="{% url 'trademarks-dashboard:brand-list' %}">{% trans "Cancel" %}</a>
                {% trans "or" %}
                <button class="btn btn-primary btn-large" type="submit">{% trans "Save" %}</button>
            </div>
        </div>
    </form>

{% endblock dashboard_content %}