{% extends "layout.html" %}
{% load url from future %}
{% load i18n %}
{% load thumbnail %}

{% block title %}
    {{ brand.name }} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'promotions:home' %}">{% trans "Home" %}</a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="{% url 'trademark:index' %}">{% trans "Trademarks" %}</a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="{% url 'trademark:detail' brand.trademark.slug brand.trademark.pk %}">{{ brand.trademark }}</a>
            <span class="divider">/</span>
        </li>
        <li>
            Brands
            <span class="divider">/</span>
        </li>
        <li class="active">{{ brand.name }}</li>
        <li class="pull-right"><a href="{% url 'trademark:detail' brand.trademark.slug brand.trademark.pk %}"><i class="icon-arrow-left"></i> {% trans "View trademark detail" %}</a></li>
    </ul>
{% endblock %}

{% block headertext %}{{ brand.name }}{% endblock %}

{% block content %}
    
{% endblock %}
